/EMails

/VCL Edition/**/__history
/VCL Edition/**/__recovery
/VCL Edition/**/*.dsk
/VCL Edition/**/*.~*
/VCL Edition/**/*.identcache
/VCL Edition/**/*.stat
/VCL Edition/Test/**/build
/VCL Edition/Help/Build

/NET Edition/.vs/wclWeDoFramework/v16/Server
/NET Edition/**/bin
/NET Edition/**/obj
/NET Edition/Help/build
